body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #87CEEB, #ffffff);
  }
  #converter {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h2 {
    color: #0011ff;
  }
  label {
    display: block;
    margin-top: 10px;
  }
  .input-group {
    display: flex;
  }
  input {
    flex: 1;
  }
  .input-group-append {
    padding: 10px;
    background-color: #ccc;
    border-radius: 0 5px 5px 0;
  }
  select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }
  #result {
    margin-top: 10px;
    font-weight: bold;
  }
  .si-unit {
    margin-left: 5px;
    font-weight: bold;
  }
  